$d-grey: #a1a1a1;
$l-gray: #e9e7e7;
$logo-blue: #004a96;
$light-blue: #137bc2;

// $d-grey: #505050;
$text-color: rgba(0, 0, 0, 0.87);
$logo-red: #ec2028;
$body-bg: #f7f8fa;
$tag-grey: #828282;
$white: #fff;
$offer-bg: #eef3f7;
$green: #2b882f;
$pink: #ff686e;
$second-footer-bg: #dbe8f2;
$ex-red: #c40000;
$facebook: #3b5998;
$twiter: #55acee;
$google: #dc4e41;
$printerest: #bd081c;
$messenger: #006aff;

$facebook-color: #4267b2;
$twitter-color: #00acee;
$linkedin-color: #0072b1;
$pinterest-color: #c8232c;
$instagram: linear-gradient(to right, #6541c1 0%, #d43396 98%, #d43396 100%);
